/* You can add global styles to this file, and also import other style files */

@import "~bootswatch/dist/darkly/bootstrap.css";

.container {
  margin-top: 1em;
}

.navbar-nav {
  margin-left:50px;
}

.navbar-brand {
  padding-left: 4em;
  font-size: 24px !important;
}

@media (max-width: 576px) {

  .dropdown-menu {
    padding-left: 3em;
  }

  .navbar-brand {
    padding-left: 0.5em;
  }

  .navbar-nav {
    margin-left:10px;
  }

}

